@page
@model MyCars.Areas.Cars.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<style>
    body {
        background-color: lightgray;
    }

    h1 {
        color: saddlebrown;
    }

    .row dt {
        color: saddlebrown;
    }

    .row dd {
        color: #6c757d;
    }

    .edit-link, .back-link {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        background-color: saddlebrown;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    .edit-link, .back-link {
        color: white;
        text-decoration: none;
    }

        .edit-link:hover, .back-link:hover {
            background-color: #59352b;
            text-decoration: none;
            color:inherit;
        }
    </style>
<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.CodeVIN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.CodeVIN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Trim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Trim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.PurchaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.PurchaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.PurchasePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.PurchasePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Repairs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Repairs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.RepairCosts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.RepairCosts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.SaleAvailableDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.SaleAvailableDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.SalePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.SalePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.SaleDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.SaleDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Sold)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Sold)
        </dd>
    </dl>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Car.Id" class="edit-link">Edit</a>
        <a asp-page="./Index" class="back-link ml-2">Back to List</a>
    </div>
